.bottomNav {
  display: flex;
  justify-content: space-between;
  padding: 0 10% 1.5rem 10%;
  height: 72px;
  /* background: grey; */
}

.bottomNav > button {
  border: none;
  background-color: none;
}

.bottomNav__home--active {
  background-color: var(--active-color);
}

/* .bottomNav__home {
  background-color: aqua;
} */

button {
  background: none;
}

.bottomNav__home--inactive {
  background-color: #fff;
}
