@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --active-color: #f86600;
  --primary-color: #000;
  --secondary-color: #656565;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
